﻿doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/uikit.min.css')
    link(rel='stylesheet', href='stylesheets/notify.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body.home
    div
      block nav
      block content
    block foot
    