﻿doctype html
html.grey
  head
    link(href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='stylesheets/uikit.min.css')
    link(rel='stylesheet', href='stylesheets/notify.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    title
  body
    // Overall Wrapper
    .overall.wrapper
      

       
        // Navigation Bar
      
        nav.uk-navbar
          a.uk-navbar-toggle.uk-visible-small(href="#nav" data-uk-offcanvas="{mode:'slide'}")
          div.uk-navbar-flip
            ul.uk-navbar-nav
                   //li
                     a
                       i.uk-icon-play-circle.uk-icon-button
                   //li
                     a
                      i.uk-icon-pause.uk-icon-button
                   li
                     a(href='/home')
                       i.uk-icon-phone.uk-icon-button.greyText(style="transform: rotate(135deg);")
          ul.uk-navbar-nav.uk-hidden-small
            li.uk-active
              //a.uk-navbar-nav-subtitle(href="#nav" data-uk-offcanvas="{mode:'slide'}")(style="font-weight: 900;") Operatore Remoto
              div.uk-navbar-nav-subtitle(style="font-weight: 900;padding-left: 20px;") #{username}
                      div(style="font-weight: 500;font-style: italic;") Deposito ***
          div.uk-navbar-content.uk-navbar-center.uk-text-primary(style="font-weight: 900;") SMART ASSISTANCE
          // Navigation Bar
        
             

        nav.menu.menu-color
          input(type="checkbox" href="#" name="menu-open")#menu-open.positionBtn.menu-open(onclick='On_OFF()')
          label.menu-open-button#visibilityBtn(for="menu-open")
            span AR

          a(href="#", title="Freccia")#sphereBtn.positionBtn.menu-item(onclick='SetArrow()')
            img(src='images/arrowOff.png') 
          
          a(href="#", title="Quadrato")(data-uk-modal='{target:\'#tel\', bgclose:false}')#cubeBtn.positionBtn.menu-item(onclick='SetSquare()')
            img(src='images/frameOff.png')
           
          a(href="#", title="Cerchio")#circleBtn.positionBtn.menu-item(onclick='SetCircle()')
            img(src='images/circleOff.png') 
          
         
          //a(data-uk-modal='{target:\'#textBtn\', bgclose:false}').menu-item
            img(src='images/textOn.png') 

          //a(href="#", title="posiziona widget").positionBtn.menu-item(onclick='On_OFF()')
            img(src='images/position.png') 
           

          //a.imgBtn.menu-item.uk-form-file.positionBtn
           img(src='images/upload.png')
           form#form-upload(enctype='multipart/form-data')
              input#upload-select(type="file" name="photo")
        
        div#progressbar.uk-progress.uk-hidden
          div.uk-progress-bar(style="width:0%;")
        
        div.menuStrumenti#action
          h3(style="margin-bottom: 0px;font-weight: 700;color: #444;")
            | Colore:
          div.colorPicker
            input.white(type="radio" name="hat-color" value="white" id="hat-color-white" onclick="SendDataToPublisher('{message:7}')")
            label.white(for="hat-color-white") B

            input.red(type="radio" name="hat-color" value="red" id="hat-color-red" onclick="SendDataToPublisher('{message:8}')")
            label.red(for="hat-color-red") R

            input.yellow(type="radio" name="hat-color" value="yellow" id="hat-color-yellow" onclick="SendDataToPublisher('{message:9}')")
            label.yellow(for="hat-color-yellow") G

            input.green(type="radio" name="hat-color" value="green" id="hat-color-green" onclick="SendDataToPublisher('{message:10}')")
            label.green(for="hat-color-green") V

            input.blue(type="radio" name="hat-color" value="blue" id="hat-color-blue" onclick="SendDataToPublisher('{message:11}')")
            label.blue(for="hat-color-blue") B

          h3(style="margin-bottom: 0px;font-weight: 700;color: #444;")
            | Scala:
          div
            a(href="#", title="Ingrandisci")(style="left: 40px;margin-top:13px;" onclick="SendDataToPublisher('{message:19}')")#scala1.scala-item
             img(src='images/scala1.png') 
            a(href="#", title="Rimpicciolisci")(style="left: 130px;margin-top:13px;" onclick="SendDataToPublisher('{message:20}')")#scala2.scala-item
             img(src='images/scala2.png') 
       
          h3(style="margin-bottom: 0px;font-weight: 700;color: #444;margin-top: 125px;")
            | Sposta:
          div 
            img(src='images/assiXY.png')(style="scale(0.8, 0.8);padding-left: 28px;padding-top: 15px;")
            img(src='images/asseZ.png')(style="scale(0.8, 0.8);padding-left: 77px;padding-top: 15px;")
          div
            a(href="#", title="Sposta a sinistra" style="left: 40px;top: 350px;" onclick="SendDataToPublisher('{message:17}')")#sinistra.sposta-item
             img(src='images/arrowOn.png' style="transform: rotate(-90deg) scale(0.8, 0.8);")
            a(href="#", title="Sposta a destra" style="left: 101px;top: 350px;" onclick="SendDataToPublisher('{message:18}')")#destra.sposta-item
             img(src='images/arrowOn.png' style="transform: rotate(90deg) scale(0.8, 0.8);") 
            a(href="#", title="Sposta in alto" style="left: 70px;top: 320px;" onclick="SendDataToPublisher('{message:15}')")#sopra.sposta-item
             img(src='images/arrowOn.png' style="transform:scale(0.8, 0.8);") 
            a(href="#", title="Sposta in basso" style="left: 70px;top: 350px;" onclick="SendDataToPublisher('{message:16}')")#sotto.sposta-item
             img(src='images/arrowOn.png' style="transform: rotate(180deg) scale(0.8, 0.8);")

          h3(style="margin-bottom: 0px;font-weight: 700;color: #444;margin-top: 145px;")
            
          div
            
           
            a(href="#", title="Avvicina" style="left: 185px;top: 320px;" onclick="SendDataToPublisher('{message:22}')")#sopra.sposta-item
             img(src='images/arrowOn.png' style="transform:scale(0.8, 0.8);") 
            a(href="#", title="Allontana" style="left: 185px;top: 350px;" onclick="SendDataToPublisher('{message:21}')")#sotto.sposta-item
             img(src='images/arrowOn.png' style="transform: rotate(180deg) scale(0.8, 0.8);")

           

        //textModal
        #textBtn.uk-modal
          .uk-modal-dialog(style="background-color: #eee;padding-left: 50px;padding-right: 40px;")
            a.uk-modal-close.uk-close  
            .uk-modal-header
              h2
                | Inserisci del testo
              form.uk-form
                .uk-grid
                  .uk-width-1-1
                    
                    div.uk-form-controls
                      textarea.uk-textarea(style="width: 100%; height: 100px;border: 1px dashed white;background: #e5e5e5;border-radius: 0.35em;" placeholder="Inserisci testo")
            .uk-modal-footer 
              a.uk-button.uk-modal-close.positionBtn(style="")
                 
                  | Salva e posiziona

        // Hero Box
        .uk-grid(data-uk-grid-margin="")
          .uk-width-medium-1-1
            #cameraView.uk-text-center.uk-height-1-1(style='position: relative')
              canvas#cameraCanvas(style='background:grey;top: 40px;')
              canvas#widgetPositionCanvas.uk-text-center(width='541', height='342')
             // span#cameraStatus
                i.uk-icon-circle(style='color:#69f0ae')
                |  AR mode
        //.uk-grid
            div.uk-width-large-1-5
            div.uk-width-large-1-5.uk-width-medium-1-3#alertSphere
              div.uk-alert
                a.uk-alert-close.uk-close
                p  
                | 1.Elemento Quadrato
            div.uk-width-large-1-5.uk-width-medium-1-3#alertCube
              div.uk-alert
                a.uk-alert-close.uk-close
                p  
                | 2.Elemento Quadrato
            div.uk-width-large-1-5.uk-width-medium-1-3#alertCircle
              div.uk-alert
                a.uk-alert-close.uk-close
                p  
                | 3.Elemento Cerchio
             
           
        // Clients
    // Overall Wrapper
          
    // OffCanvas Navigation
    #nav.uk-offcanvas
      .uk-offcanvas-bar
     
        ul.uk-nav.uk-nav-offcanvas
          li.nav-header
            div.profile-element
              .uk-grid
                .uk-width-medium-1-3
                  span
                    img.img-circle(src='images/user-icon.png')
                .uk-width-medium-2-3(style="padding-left:0px;")
                  span.block.m-t-xs.uk-text-top.uk-navbar-nav-subtitle(style="font-weight: 900;")
                    | Operatore Assistente
                    div.uk-text-muted(style="padding-left: 15px;padding-top:8px;font-weight: 700;font-style: italic;")
                      | Flotta 1 | Flotta 2 | Flotta 3
                div.uk-text-muted(style="padding-left: 100px;")
                      a.uk-text-muted.uk-text-primary(href='/login') Log Out
          li
            p(style="font-weight: 900;padding-left: 15px;") Ultime Chiamate
            h5.uk-text-muted(style="padding-left: 15px;") Oggi
          //li
            a.greyText(href='/home') Home
          //li
            a.greyText(href='/') Camera View 
    // OffCanvas Navigation
    span#positionFeedback.easeFeedback
    script(src='javascripts/jsmpg.js')
    script(src='javascripts/jquery-3.1.1.min.js')
    script(src='javascripts/uikit.min.js')
    script(src='javascripts/notify.min.js')
    script(type='text/javascript').
      // Set visibility
      var isInvisible = true;
      
      $('#action').hide();
      $('#cameraStatus').hide();
      $('#visibilityBtn').addClass("bgInactive");
      $('#visibilityBtn').click(function()
      {
      if (isInvisible)
      {
      UIkit.notify({message : 'Widget visibile', timeout : 1500});
      $('#visibilityBtn img').attr('src', 'images/visible.png');
      isInvisible = false;
      $('#cameraStatus').show();
      $('#action').show();
      $('#visibilityBtn').addClass("bgActive");
      }
      else
      {
      UIkit.notify(
      {message : 'Widget non visibile', timeout : 1500});
      $('#visibilityBtn img').attr('src', 'images/invisible.png');
      isInvisible = true;
      $('#cameraStatus').hide();
      $('#visibilityBtn').addClass("bgInactive");
      $('#visibilityBtn').removeClass("bgActive");
      $('#action').hide();
      }
      })

     

      // Change shape
      $('#sphereBtn').click(function()
      {
      $('#sphereBtn img').attr('src', 'images/arrowOn.png');
      $('#cubeBtn img').attr('src', 'images/frameOff.png');
      $('#circleBtn img').attr('src', 'images/circleOff.png');
      $('#textBtn img').attr('src', 'images/textOff.png');
      $('.imgBtn img').attr('src', 'images/imgOff.png');
      $('#alertSphere').show();
      })
      $('#cubeBtn').click(function()
      {
      $('#sphereBtn img').attr('src', 'images/arrowOff.png');
      $('#cubeBtn img').attr('src', 'images/frameOn.png');
      $('#circleBtn img').attr('src', 'images/circleOff.png');
      $('#textBtn img').attr('src', 'images/textOff.png');
      $('.imgBtn img').attr('src', 'images/imgOff.png');
      $('#alertCube').show();
      })
      $('#circleBtn').click(function()
      {
      $('#sphereBtn img').attr('src', 'images/arrowOff.png');
      $('#cubeBtn img').attr('src', 'images/frameOff.png');
      $('#circleBtn img').attr('src', 'images/circleOn.png');
      $('#textBtn img').attr('src', 'images/textOff.png');
      $('.imgBtn img').attr('src', 'images/imgOff.png');



      $('#alertCircle').show();
      })
      $('#textBtn').click(function()
      {
      $('#sphereBtn img').attr('src', 'images/arrowOff.png');
      $('#cubeBtn img').attr('src', 'images/frameOff.png');
      $('#circleBtn img').attr('src', 'images/circleOff.png');
      $('#textBtn img').attr('src', 'images/textOn.png');
      $('.imgBtn img').attr('src', 'images/imgOff.png');
      })
      $('.imgBtn').click(function()
      {
      $('#sphereBtn img').attr('src', 'images/arrowOff.png');
      $('#cubeBtn img').attr('src', 'images/frameOff.png');
      $('#circleBtn img').attr('src', 'images/circleOff.png');
      $('#textBtn img').attr('src', 'images/textOff.png');
      $('.imgBtn img').attr('src', 'images/imgOn.png');
      })


      // Fetch click coords
      var inEditMode = false;
      $('#widgetPositionCanvas').hide();
      $('.positionBtn').click(function()
      {
      if (!isInvisible)
      {
      UIkit.notify({message : '<i class="uk-icon-mouse-pointer"></i> Click all\'interno dell\'area per cambiare la posizione del widget', timeout : 4000});
      inEditMode = true;
      $('#widgetPositionCanvas').show();
      }
      })
      $('#widgetPositionCanvas').click(function(e)
      {
      if (inEditMode)
      {
      fetchCoords(e);
      inEditMode = false;
      }
      })
      function fetchCoords(e)
      {
      var canvasW = e.target.width;
      var canvasH = e.target.height;
      var canvasOriginX = $("#widgetPositionCanvas").offset().left;
      var canvasOriginY = $("#widgetPositionCanvas").offset().top;
      var clickX = e.pageX;
      var clickY = e.pageY;
      var pixX = clickX - canvasOriginX;
      var pixY = clickY - canvasOriginY;
      var percX = (pixX / canvasW * 100).toFixed(3);
      var percY = (pixY / canvasH * 100).toFixed(3);
      console.log(percX + '/' + percY);
      // Feedback
      $('#positionFeedback').css('left', clickX - 12);
      $('#positionFeedback').css('top', clickY - 14);
      document.getElementById('positionFeedback').classList.remove('easeFeedback');
      setTimeout(function(){document.getElementById('positionFeedback').classList.add('easeFeedback');}, 1);
      setTimeout(function(){$('#widgetPositionCanvas').hide();;}, 500);
      percY = 100 - percY;
      Submit(percX,percY);
      }
      // Setup the WebSocket connection and start the player
      //var client = new WebSocket( 'ws://example.com:8084/' );
      //var client = new WebSocket( 'ws://188.11.0.131:8084/' );
      //var client = new WebSocket( 'ws://127.0.0.1:8085/' );
      //var client = new WebSocket('ws://http://ec2-54-200-39-230.us-west-2.compute.amazonaws.com:8084');
      //var client = new WebSocket('ws://cvapi8850.cloudapp.net:8084');
      //var client = new WebSocket( 'ws://cvapi8850.cloudapp.net:8084/' );
      var client = new WebSocket( 'ws://localhost:8084/' );
      var canvas = document.getElementById('cameraCanvas');
      var player = new jsmpeg(client, {canvas:canvas});
      function SendDataToPublisher(json)
      {
      console.log(json);
      if ("WebSocket" in window)
      {
      // Let us open a web socket
      //var ws = new WebSocket("ws://cvapi8850.cloudapp.net:8086");
      var ws = new WebSocket("ws://cvapi8850.cloudapp.net:8086");
      ws.onopen = function()
      {
      // Web Socket is connected, send data using send()
      JSON.stringify(json)
      ws.send(json);
      //alert("Message is sent...");
      };
      ws.onmessage = function (evt)
      {
      var received_msg = evt.data;
      //alert(received_msg);
      //document.getElementById("c").innerHTML = received_msg;
      };
      ws.onclose = function()
      {
      // webs/ocket is closed.
      console.log("Connection is closed...");
      window.location = (href='/home');
      };
      }
      else
      {
      // The browser doesn't support WebSocket
      alert("WebSocket NOT supported by your Browser!");
      }
      }
      function Submit(x,y)
      {
      //var x = document.getElementById("x");
      //var y = document.getElementById("y");
      //var z = document.getElementById("z");
      var json = "{message:1,x:"+x+",y:"+y+"}";
      SendDataToPublisher(json);
      }
      function On_OFF()
      {
      var json = "{message:0}";
      SendDataToPublisher(json);
      }
      function SetArrow()
      {
      var json = "{message:4}";
      SendDataToPublisher(json);
      }
      function SetCircle()
      {
      var json = "{message:5}";
      SendDataToPublisher(json);
      }
      function SetSquare()
      {
      var json = "{message:6}";
      SendDataToPublisher(json);
      }      
      function getOgjCoordinate()
      {
      var json = "{message:3}";
      SendDataToPublisher(json);
      }

      $('#upload-select').change(function() {
         console.log('change');
         $('#form-upload').submit();
      });
      
      $('#form-upload').submit( function( e ) {
         console.log('ajax');
         $.ajax( {
            url: '/logged/upload/',
            type: 'POST',
            data: new FormData( this ),
            processData: false,
            contentType: false
         } );
         e.preventDefault();
      } );