html
{
    background: #212121;
    font-family: 'Lato';
}

body
{
    font-family: 'Lato', sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;    
    /*max-width: 640px;*/
    /*margin: auto;*/
    /*padding: 20px*/
}

/*font-Lato*/

h1 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
h4{
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
h5{
    margin: 0 0 15px 0;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	line-height: 15.4px;
    font-weight: 400;
    color: #444;
    text-transform: none;
}
p {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

a {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}


.grey
{
    background-color: #999;
}

button
{
    background-color: #424242 !important;
    border-radius: 3px
}

.section
{
    color: #9e9e9e;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 10px
}

.easeFeedback
{
    border: 2px solid #69f0ae;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    position: absolute;
    left: -50px;
    top: -50px;
    -webkit-animation: pulsate 0.5s ease-out;
    opacity: 0.0
}

@-webkit-keyframes pulsate
{
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {-webkit-transform: scale(0.8, 0.8); opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

#cameraCanvas
{
    /*margin-bottom: 20px*/
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color:white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);

}

#cameraStatus
{
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 11px;
    padding: 2px 10px 0px 10px;
    border-radius: 3px;
    position: fixed;
    left: 110px;
    top: 78px;
}

#widgetPositionCanvas
{
   border: 1px dashed white;
   position: absolute;
   top: 80px;
   left: 31%;
   text-align: center;
}

#cameraView.parallax-bg
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

/*@media (min-width: 1024px) {
    #widgetPositionCanvas {
        padding-top: 150px;

    }
}

@media (min-width: 768px) {
    #widgetPositionCanvas {
        padding-top: 100px;
    }
}*/

#cameraView
{
    min-height: 400px;
    width: 100%;
}

/*body.home {
    text-align: center;
}*/

/*@media (min-width: 1024px) {
    body {
        font-size: large;
    }
}*/

.uk-offcanvas-bar{
    background:#E6E6E6;
}



/*visible*/

.ar {
  /*background: #fff;*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 80px;
  height: 80px;
  position: fixed;
  margin: 0 auto;
  border-radius: 150px;
  /*border: solid 15px #fff;*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  bottom: -350px;
  right: 250px;
  z-index: 1000!important;
  border: solid 1px #fff;
}
.ar:before {
  /*background: #fff;*/
  /*content: "";
  width: 233px;*/
  /*height: 104px;*/
  position: absolute;
  top: 13px;
  right: 16px;
  border-radius: 100px;
  border: solid 15px #fff;
  z-index: 999;
  transform: rotate(45deg);
  transform-origin: bottom;
}
.ar:after {
    
  /*background: #153484;*/
  background-size: 100% 100%;
  content: "AR";
  line-height: 80px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  width: 75px;
  height: 80px;
  margin: 0 auto;
  position: absolute;
  border-radius: 150px;
  z-index: 1000!important;
}

.bgInactive{
    background: rgba(0,0,0,0.5);
}
.bgActive{
    background: #6CC04A;
}
.ar:hover {
  animation: none;
  transform: scale(1.2);
  transition: 0.5s;
}





/*call*/

.call {
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 200px;
  height: 200px;
  position: fixed;
  margin: 0 auto;
  border-radius: 10%; 
  border: solid 15px #fff;
  animation: play 1.5s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.call:before {
  background: #fff;
  /*content: "";
  width: 233px;*/
  height: 104px;
  position: absolute;
  top: 13px;
  right: 16px;
  border-radius: 10%;
  border: solid 15px #fff;
  z-index: 99998;
  transform: rotate(45deg);
  transform-origin: bottom;
}
.call:after {
  background: #7AC943;
  background-size: 100% 100%;
  content: url(../images/telephone.png);
  align-content:center;
  line-height: 205px;
  color: #fff;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  border-radius: 10%;
  z-index: 99999 !important;
}
.call:hover {
  animation: none;
  transform: scale(1.2);
  transition: 0.5s;
}


@keyframes play {
  0% {
    transform: scale(1);
  }
  /*15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }*/
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  /*50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }*/
  80% {
    transform: scale(1);
  }
}


.menu-call, .menu-call-button {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 2px;
  border-color:white;
  background: rgba(0,0,0,0.5);
  border-radius: 0.35em;
  width: 60px;
  height: 60px;
  
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 55px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
       left: 92%;
    top: 75%;
}



 /*navbar*/
 .uk-navbar-nav>li>a{
    font-family: 'Lato';
 }

 .uk-navbar-nav-subtitle{
    font-family: 'Lato';
 }
 /*.uk-navbar {
    position: fixed;
    background: #eee;
    color: #444;
}*/


 .uk-nav-offcanvas>.uk-open>a, html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus, html:not(.uk-touch) .uk-nav-offcanvas>li>a:hover {
    background: grey;
    color: #fff;
    outline: 0;
}

 .nav-header {
    font-family: 'Lato';
    padding: 33px 25px;
    /*background-color: #444;*/
}
 .img-circle {
    border-radius: 50%;
    background: #6CC04A;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  border-radius: 150px;
  border: solid 1px #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

}
 .m-t-xs {
    margin-top: 5px;
     /*color: #DFE4ED;*/
     padding-left: 15px;
}
 .greyText{
     color:#444;
 }

 .uk-nav-offcanvas>li>a {
    color:#444;
    padding: 10px 15px;
}

 
.uk-modal-dialog {
   width: 100%;
   max-width: calc(100% - 0px);
   margin: 0px auto;
   background-color: #444;
   height: 300px;
}


/*login*/

.uk-button-danger {
    background-color: #E94040;
    color: #fff;
}

.uk-button-danger:focus, .uk-button-danger:hover {
    background-color: #da3c3c;
    color: #fff;
}

.uk-text-primary {
    color: #17365D!important;
}

.joinpad{

    transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
}
div h5{
    display: inline-block;
}

.uk-grid-divider>[class*=uk-width-medium-]:not(.uk-width-medium-1-1):nth-child(n+2) {
    border-left: 2px dotted #444;
}

.small {
    transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
}

/*menu-strumenti*/

.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}


.menu-item, .menu-open-button {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 2px;
  border-color:white;
  background: rgba(0,0,0,0.5);
  border-radius: 0.35em;
  width: 60px;
  height: 60px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 60px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: -20px;
  /*margin-left: -600px;*/
  padding-top: 20px;
  padding-left: 80px;
  width: 120px;
  height: 100%;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  top: 40px;
  /*right: -482px;*/
  z-index: 1000!important;
  
}

.menu-color{
  background: rgba(255,255,255,0.4);
}

.menu-item:hover {
  background: rgba(0,0,0,0.7);
  color: #00bcd4;
  border-style: solid;
  border-width: 2px;
  border-color:white;
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button { 
    background: grey;
  z-index:  1001!important;;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          background-color: green;
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 100px, 0);
          transform: scale(0.8, 0.8) translate3d(0, 100px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
          transition-duration: 290ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 170px, 0);
          transform: scale(0.8, 0.8) translate3d(0, 170px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 390ms;
          transition-duration: 390ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 240px, 0);
          transform: scale(0.8, 0.8) translate3d(0, 240px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 490ms;
          transition-duration: 490ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 330px, 0);
          transform: scale(0.8, 0.8) translate3d(0, 330px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 590ms;
          transition-duration: 590ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 400px, 0);
          transform: scale(0.8, 0.8) translate3d(0, 400px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
  -webkit-transition-duration: 590ms;
          transition-duration: 590ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0px, 400px, 0);
          transform: scale(0.8, 0.8) translate3d(0px, 400px, 0);
}

/*strumenti*/

.menuStrumenti{
  position: absolute;
  right: 0px;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 1000!important;
  background: rgba(255,255,255,0.4);
  width: 210px;
  height: 100%;
}


/*color-picker*/
.colorPicker {
 
  margin-top: 1em;
  font-size: 0.875em;
  text-align: center;
  display: inline-table;
  width: 100%;
  max-width: 14em;
  background: #fff;
  padding: 2px;
  background-color:;
  border-radius: 0.35em;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  
}

.colorPicker label {
  text-transform: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  padding: 0.5em 1em;
  text-transform: capitalize;
  letter-spacing: -0.5em;
  color: transparent;
  opacity: 0.35;
  width: 1%;
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
}
.colorPicker label.red {
  background-color: #ff3e05;
  -webkit-tap-highlight-color: #ff3e05;
}

.colorPicker label.white {
  background-color: white;
  -webkit-tap-highlight-color: white;
}

.colorPicker label.yellow {
  background-color: #ecca05;
  -webkit-tap-highlight-color: #ecca05;
}
.colorPicker label.green {
  background-color: #40af04;
  -webkit-tap-highlight-color: #40af04;
}
.colorPicker label.blue {
  background-color: #057fff;
  -webkit-tap-highlight-color: #057fff;
}
.colorPicker label.indigo {
  background-color: #7500ca;
  -webkit-tap-highlight-color: #7500ca;
}
.colorPicker label.violet {
  background-color: #cc6fcc;
  -webkit-tap-highlight-color: #cc6fcc;
}
.colorPicker label:first-of-type {
  border-radius: 0.25em 0 0 0.25em;
}
.colorPicker label:last-of-type {
  border-radius: 0 0.25em 0.25em 0; 
}
.colorPicker label:hover {
  opacity: 1;
  color: #fff;
  letter-spacing: normal;
}
.colorPicker input:checked + label.white {

  color: #999;

}
.colorPicker label.white:hover {
  opacity: 1;
  color: #999;
  letter-spacing: normal;
}
.colorPicker input {
  display: none;
}
.colorPicker input:checked + label {
  width: 90%;
  opacity: 1;
  color: #fff;
  letter-spacing: normal;
}   

.white{
    background-color:white;
}


.mainBar {
  background-color: #4B4B4A;
  color: #FFFFFF;
  color: rgba( 255, 255, 255, 0.8);
  width: 250px;
  height: 50px;
 max-width: 17em;
}

/*scala*/
.scala{
  background: grey;
  margin-top: 1em;
  font-size: 0.875em;
  text-align: center;
  display: inline-table;
  width: 100%;
  max-width: 17em;
  border-style: solid;
  border-width: 2px;
  border-color:white;
  padding: 2px;
  border-radius: 0.35em;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  
}




.scala-item{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 2px;
  border-color:white;
  background: rgba(0,0,0,0.5);
  border-radius:0.35em;
  width: 80px;
  height: 80px;
  margin-left: -20px;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}


.scala-item:hover {
  background: rgba(0,0,0,0.7);
  color: #00bcd4;
  border-style: solid;
  border-width: 2px;
  border-color:white;
}

/*sposta*/



.sposta-item{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 2px;
  border-color:white;
  background: rgba(0,0,0,0.5);
  border-radius: 0.35em;
  width: 25px;
  height: 25px;
  margin-left: -20px;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 25px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}


.sposta-item:hover {
  background: rgba(0,0,0,0.7);
  color: #00bcd4;
  border-style: solid;
  border-width: 2px;
  border-color:white;
}


/*upload*/

.uk-form-file input[type=file] {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0;
    font-size: 500px;
}

input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}

.uk-placeholder>:last-child {
    margin-bottom: 0;
}

.uk-form-file {
    display: inline-block;
    vertical-align: middle;
    /*position: relative;*/
    overflow: hidden;
}

.uk-link, a {
    color: #1D8ACB;
    text-decoration: none;
    cursor: pointer;
}
uikit.docs.min.css:1
a {
    background: 0 0;
}
*+.uk-progress {
    margin-top: 15px;
}

.uk-progress {
    box-sizing: border-box;
    height: 20px;
    margin-bottom: 15px;
    background: #f7f7f7;
    overflow: hidden;
    line-height: 20px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.07), inset 0 2px 2px rgba(0,0,0,.07);
    border-radius: 4px;
}

.uk-hidden {
    display: none!important;
    visibility: hidden!important;
}


/*textarea*/

.uk-modal-close{
     box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 2px;
  border-color:white;
  background: rgba(0,0,0,0.5);
  border-radius: 0.35em;

  color: white;
  text-align: center;
 
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.uk-modal-close:hover {
    background: rgba(0,0,0,0.7);
    color: #00bcd4;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}